{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Pallets</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Gestión de Pallets</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Gestionar Pallets</h3>
            </div>
            <div class="card-body">
              <div id="shop-selection-warning" class="alert alert-warning" style="display: none;">
                Debe seleccionar una tienda en el selector global para ver el listado de pallets.
              </div>
              <table id="tabla-de-Datos" class="table table-bordered table-striped" style="width: 100%;"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade" id="modal-crear-pallets" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Adicionar Pallet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="form-create-pallets">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="shop">Tienda</label>
              <select class="form-control select2" id="shop" name="shop" required></select>
            </div>
            <div class="form-group col-sm-4">
              <label for="rack">Rack</label>
              <input type="number" class="form-control" id="rack" name="rack" min="1" required>
            </div>
            <div class="form-group col-sm-4">
              <label for="section">Sección</label>
              <input type="text" class="form-control" id="section" name="section" maxlength="1" required>
            </div>
            <div class="form-group col-sm-4">
              <label for="number">Número</label>
              <input type="number" class="form-control" id="number" name="number" min="1" required>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-validation/localization/messages_es.js' %}"></script>
<script src="{% static 'assets/dist/js/axios.min.js' %}"></script>
<script src="{% static 'assets/dist/js/pallets.js' %}"></script>
{% endblock %}
